* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
.search-section {
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-left: 40%;
}

#search-button {
    justify-content: center;
    align-items: center;
    border-color: black;
    margin: auto;
    padding-top: 20%;
    cursor: pointer;
}

.weather-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 60%;
    height:  350px;
    padding-top: 2%;
    margin: 5% auto;
    border-radius: 6%;
    background-image: linear-gradient(rgb(154, 179, 212),rgb(20, 65, 83));
}

.weather-today {
    color: white;
    padding-left: 10%;
}

.area {
    padding-left: 10%;
    

}

.details{
    padding-left: 15%;
    color: white;
}
 .weather-icon {
    max-width: 40%;
    max-height: 40%;
    border-radius: 20%;
 }

 .forecast {
    display: flex;
    align-items: flex-end;
    color: white;
    width: 60%;
    height: 250px;
    padding-top: 2%;
    margin: 5% auto;
    border-radius: 6%;
    background-image: linear-gradient(rgb(154, 179, 212),rgb(20, 65, 83));
 }
 .day-forecast {
    display: flex;
    align-self: center;
 }
 .forecast-containers {
    border-radius: 15px;
    border: lightcoral;
    align-items: flex-end;
 }